.discount{
    background: url('/endjoy.jpg') no-repeat;
    background-size: cover;

}
.newsletter{
    background: url('/newsletter.jpg') no-repeat;
    background-size: contain;
    background-position: center center;

}